ul {
  list-style: disc;
  margin: $post-list-ulol-margin;
  padding: $post-list-ulol-padding;
}

ol {
  list-style: decimal;
  margin: $post-list-ulol-margin;
  padding: $post-list-ulol-padding;
}

li {
  color: $text-normal-color;
  margin: $post-list-li-margin;
}

li::marker {
  color: $list-normal-color;
}