pre {
  background-color: $preformatted-background-color;
  color: $preformatted-text-color;
  margin: $post-preformatted-margin;
  padding: $post-preformatted-padding;
  border-radius: $post-radius;
  border-left-width: $post-borderweight;
  border-color: $preformatted-key-color;
}