@tailwind base;

body {
    font-family: Noto Sans JP,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    padding:0 50px;
    line-height: 1.4;
    background-color: #F9F9FA;
    color: #141426;
}

@tailwind components;
@tailwind utilities;
