@tailwind base;

body {
    font-family: Noto Sans JP,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin:0 50px;
    line-height: 1.4;
    background-color: #F9F9FA;
    color: #141426;
}

@media (max-width: 640px)
{
    body {
        margin:0 8px;
    }

    div.card1 {
        width: 170px;
        height: 240px;
        padding: 6px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    }

    div.card1box {
        height: 75px;
        display: table-cell;
        vertical-align: bottom;
    }

    div.contbox {
        width: 250px;
        height: 550px;
        margin: 14px 20px 14px 0;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
        position: relative;
        float: none;
    }
}

.card1 {
    width: 400px;
    height: 200px;
    padding: 22px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.card1box {
    height: 150px;
    display: table-cell;
    vertical-align: bottom;
}

.card1box .name {
    font-family: 'Montserrat', sans-serif;
}

.card1box .note {
    font-family: 'Kanit', sans-serif;
    float: left;
}

.contbox {
    width: 250px;
    height: 550px;
    margin: 14px 20px 14px 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    position: relative;
    float: left;
}

.g-image {
    height: 100%;
    min-height: 550px;
    width: auto;
    object-fit: cover;
    border-radius: 6px;
}

.contbox .conttitle {
    position: absolute;
    width: 100%;
    bottom: 41%;
    left: 0;
    margin: 0 0 9px;
    background-color: #fff;
    font-family: 'M PLUS 1p', sans-serif;
    letter-spacing: 0.15em;
    font-size: 16pt;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.contbox .contdscrpt {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0%;
    left: 0;
    margin: 0 0 25px;
    opacity: 0.7;
    background-color: #252525;
    color: #F9F9FA;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    letter-spacing: 0.1em;
    font-size: 15pt;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.contbox .conttag {
    position: absolute;
    width: auto;
    height: 24px;
    padding: 0 4px;
    top: 8px;
    right: 6px;
    border-radius: 2px;
    opacity: 0.8;
    background-color: #F99FC9;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

.sitetitle {
    font-weight: 700;
}

@tailwind components;
@tailwind utilities;
