$background-main-color: #f9f9fa;
$text-normal-color: #252525;

$linktext-normal-color: #489fdf;
$linktext-glink-color: transparent;

$blockquote-background-color: #fff;
$blockquote-key-color: #fcd757;

$preformatted-background-color: #141426;
$preformatted-text-color: #f9f9fa;
$preformatted-key-color: #48d597;
