$background-main-color: #f9f9fa;
$text-normal-color: #252525;

$list-normal-color: #cbcbcb;

$linktext-normal-color: #489fdf;
$linktext-glink-color: transparent;

$heading-border-color: rgba(20, 20, 38, 0.25);

$blockquote-background-color: #fff;
$blockquote-key-color: #fcd757;

$preformatted-background-color: #141426;
$preformatted-text-color: #f9f9fa;
$preformatted-key-color: #48d597;

$card-background-color: #fff;
$card-conttitle-background-color: #fff;
$card-contdscrpt-background-color: #252525;
$card-conttag-background-color: #f99fc9;
$card-conttag-text-color: #fff;

$contdscrpt-text-color: #f9f9fa;

$conttitle-link-text-color: #131326;