$text-main-font: 'Noto Sans JP',sans-serif;
$heading-text: 'M PLUS 1p', sans-serif;
$namecard-name-text: 'Montserrat', sans-serif;
$namecard-note-text: 'Kanit', sans-serif;
$conttitle-text: 'M PLUS 1p', sans-serif;
$conttag-text: 'Kanit', sans-serif;