//b14pt
$index-padding: 6px 8px;
$index-padding-for-tablet-portrait-up: 6px 50px;
$post-padding: 0 8px;
$post-padding-for-tablet-landscape-up: 0 50px;

$heading2-margin: 1.5rem 0 0.5rem 0;
$heading3-margin: 1.5rem 0 0.5rem 0;
$heading4-margin: 1.5rem 0 0.5rem 0;
$heading5-margin: 2.5rem 0 0.5rem 0;
$heading6-margin: 0.75rem 0 0.5rem;

$post-letterspacing: 0.08rem;

$post-list-ulol-padding: 0;
$post-list-ulol-margin: 0.75rem 0;
$post-list-li-margin: 0.3rem 1.5rem;

$post-blockquote-margin: 1.5rem 0;
$post-blockquote-padding: 14px 20px;
$post-preformatted-margin: 1.5rem 0;
$post-preformatted-padding: 26px 20px;

$namecard-padding-s: 6px;
$namecard-padding-l: 22px;

$contcard-margin: 14px 20px 14px 0;
$conttitle-margin: 0 0 9px;
$contdscrpt-margin: 0 0 25px;

$conttag: 0 4px;